{{#each sizes}}
  <img src="/?text=AB&size={{this}}">
  <img src="/?text=字&size={{this}}">
  <img src="/?text=FFF&size={{this}}&hex=FF0000">
{{/each}}
<hr>
{{#each sizes}}
  <img src="/pie/?progress=33&color=yellow&size={{this}}">
{{/each}}
<hr>
{{#each range}}
  <img src="/pie/?progress={{this}}&size=40">
  <img src="/pie/?progress={{this}}&color=red&size=40">
  <img src="/pie/?progress={{this}}&color=yellow&size=40">
{{/each}}
<hr>
{{#each sizes}}
  <img src="/horseshoe/?progress=66&size={{this}}">
{{/each}}
<hr>
{{#each range}}
  <img src="/horseshoe/?progress={{this}}&size=40">
  <img src="/horseshoe/?progress={{this}}&color=red&size=40">
  <img src="/horseshoe/?progress={{this}}&color=yellow&size=40">
{{/each}}
<hr>
<div style="background-color: green;">
  <img src="/circularize/?src=http://igrudge.net/wp-content/uploads/2013/04/Crystal_Tux.png">
  <img src="/circularize/?src=https://img13.deviantart.net/5bb7/i/2006/097/7/a/linux_tux_g1_by_kr3_w.jpg">
</div>
